<style>
	.breadcrumbs{font-size:.8125rem;overflow-x:scroll;padding:10px 15px;display:inline-flex;width:100%;white-space:nowrap;max-width:100vw;scrollbar-width:none}
	@media only screen and (min-width:768px){.breadcrumbs{padding:10px 40px;overflow-x:hidden}}
	.breadcrumbs::-webkit-scrollbar{display:none}
	.breadcrumbs i{opacity:.2;display:inline-block;margin:0 8px}
</style>
<scroll-shadow>
	<nav class="breadcrumbs" aria-label="breadcrumbs">
	  <a href="{{ routes.root_url }}" title="{{ 'breadcrumbs.home' | t | escape }}">{{ 'breadcrumbs.home' | t }}</a>
	  {% if collection.url %}
			<i>/</i>
			<a href="{{ routes.all_products_collection_url }}" title="{{ 'breadcrumbs.shop' | t | escape }}">{{ 'breadcrumbs.shop' | t }}</a>
	    <i>/</i>
	    <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
	  {% endif %}
		{% if template contains 'cart' %}
	    <i>/</i>
	    {{ 'breadcrumbs.cart' | t }}
	  {% endif %}
	  {% if template contains 'product' %}
	    <i>/</i>
	    {{ product.title }}
	  {% endif %}
	  {% if template contains 'blog' %}
			{% if current_tags %}
				<i>/</i>
		    <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a>
				<i>/</i>
				{{ current_tags }}
			{% else %}
				<i>/</i>
				{{ blog.title }}
			{% endif %}
	  {% endif %}
		{% if template contains 'article' %}
	    <i>/</i>
	    <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a>
	    <i>/</i>
	    {{ article.title }}
	  {% endif %}
	  {% if template contains 'page' %}
	    <i>/</i>
	    {{ page.title }}
	  {% endif %}
		{% if template contains 'search' %}
	    <i>/</i>
	    {{ 'breadcrumbs.search' | t }}
	  {% endif %}
		{% if template contains 'customers' %}
	    <i>/</i>
	    {{ 'breadcrumbs.my_account' | t }}
	  {% endif %}
	</nav>
</scroll-shadow>
